@model EsYdenpyoSearchVM
@{
    ViewData["Title"] = "予定伝票入力";
}

<h2 class="text-center align-content-around mb-5">予定伝票入力</h2>

<form asp-controller="EsYdenpyo" asp-action="Index" method="get">
    <div class="col">

        <div class="row mb-3">
            <label class="col-2 col-form-label">伝票番号</label>
            <div class="col-2 text-end">
                <input type="number" readonly class="form-control" placeholder="">
            </div>
            <div class="col-8 text-end">
                <form asp-action="Event" method="post" class="d-inline">

                    <button type="submit" name="actionType" value="register" class="btn btn-primary">
                        登録
                    </button>

                    <button type="submit" name="actionType" value="delete" class="btn btn-danger">
                        削除
                    </button>

                    <button type="submit" name="actionType" value="exit" class="btn btn-secondary">
                        終了
                    </button>

                </form>
            </div>


            @* <div class="col-2">
                <input type="submit" class="btn btn-primary" value="登録">
            </div>

            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="削除">
            </div> *@


        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">伝墓日付</label>
            <div class="col-2">
                <input type="date" readonly  class="form-control" placeholder="">
            </div>

            <label class="col-2 col-form-label text-center">出納方法</label>
            <div class="col-2">
                <select  class="form-select">
                    <option value="" hidden selected>-- Select option --</option>
                    <option value="Genkin">現金</option>
                    <option value="Suitofuri">振込</option>
                </select>
            </div>

            <label class="col-2 col-form-label text-center">支払予定日</label>
            <div class="col-2">
                <input type="date" asp-for="UketukedtFrom" class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">年度</label>
            <div class="col-2">
                <input type="number" asp-for="Kaikeind" class="form-control" placeholder="xxxx年度">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">申請日</label>
            <div class="col-2">
                <input type="date" asp-for="UketukedtFrom" class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">起票部門</label>
            <div class="col-2">
                <input type="text"  class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">出張目的</label>
            <div class="col-2">
                <input type="text"  class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">（備考）</label>
        </div>

    </div>
</form>
